body {
    background-color: lightblue; 
    font-family: Arial, sans-serif; 
    color: #333; 
    margin: 0;
    padding: 0;
}


h1 {
    font-family: 'Georgia', serif; 
    color: darkblue; 
    text-align: center; 
}


h2 {
    text-align: center;
}

h5 {
    text-align: center;
    text-size-adjust: 20px;
}


p {
    font-size: 16px;
    line-height: 1.5;
    color: #444; 
}


#intro {
    background-color: white; 
    padding: 20px;
    margin: 10px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.link-box {
    background-color: #f0f8ff; 
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border: 2px solid #008cba; 
    border-radius: 8px;
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} 

.link-box a {
    font-size: 18px;
    color: #008cba; 
    text-decoration: none; 
    font-weight: bold; 
}


.link-box a:hover {
    color: #005f73; 
}


#quick-links {
    background-color: #f0f8ff; 
    padding: 15px;
    margin: 10px auto;
    width: 60%;
    border: 2px solid darkblue;
    border-radius: 8px;
}

#additional-info {
    background-color: #e6f7ff; 
    padding: 20px;
    margin: 10px auto;
    width: 90%;
    border-left: 5px solid darkblue;
}


#intro img {
    display: block;
    margin: 0 auto; 
}


iframe {
    display: block; 
    margin: 20px auto; 
}

.tableauPlaceholder {
    width: 80%; 
    height: 0;
    padding-bottom: 60%; 
    position: relative;
}

.tableauViz {
    width: 100%;
    height: 100%;
}
